<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление человека</title>
</head>
<body>
<form th:action="@{/people}" th:method="post" th:object="${person}">
    <label for="name">Имя</label>
    <input id="name" th:field="*{name}" type="text">
    <p style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
    <br>

    <label for="age">Возраст</label>
    <input id="age" th:field="*{age}" type="number">
    <p style="color: red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></p>
    <br>

    <label for="email">Электронная почта</label>
    <input id="email" th:field="*{email}" type="email">
    <p style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
    <br>

    <label for="address">Адрес</label>
    <input id="address" th:field="*{address}" type="text">
    <p style="color: red" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></p>
    <br>

    <input type="submit" value="Добавить человека">
</form>
</body>
</html>