<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit person</title>
</head>
<body>
    <form th:object="${person}" th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}">
        <label for="name">Change name</label>
        <input type="text" id="name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
        <br>

        <label for="age">Change age</label>
        <input type="number" id="age" th:field="*{age}">
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></p>
        <br>

        <label for="email">Change email</label>
        <input type="email" id="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></p>
        <br>

        <input type="submit" value="Save changes">
    </form>
</body>
</html>